/* Déclaration initiale */

* {
    box-sizing: border-box; /* box-sizing est appliqué à tous les éléments */
}

body {
    font-family: 'Botoro', sans-serif;
}

/* Tout les flex */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bigSquare{
  height: 500px;
  width: 100%;
  background-color: #41316c;
  position: relative;
}

.bigSquare2{
  height: 500px;
  width: 100%;
  background-color: #231b3b;
  display:flex;
}

.bigSquare3{
  height: 500px;
  background-color: #41316c;
  display: flex;
  justify-content: center;
}

.bigSquare4{
  height: 500px;
  width: 100%;
  background-color: #231b3b;
  display:flex;
}

.bigSquare5{
  height: 500px;
  width: 100%;
  background-color: #41316c;
  display:flex;
}


.smallSquare1, .smallSquare2 {
  position: absolute;
  width: 900px; 
  height: 350px; 
  background-color: #ccc; 
}

.smallSquare1 {
  right: 80px;
  bottom: 30px;
  background-color: #231b3b;
  z-index: 2;
}

.smallSquare2 {
  left: 80px; 
  top: 30px; 
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/imgFicheMetier.webp");
  background-size: 100%;
  z-index: 1;
}


.titre {
  color:white;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: 50px;
}

.imgsal {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/tabsal.webp");
  height: 500px;
  width: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.title {
  color: white;
  font-size:45px;
  padding-top: 100px;
  padding-left: 300px;
}

.title2 {
  color: white;
  font-size:45px;
  left: 10px;
}

.title3 {
  color: white;
  font-size:45px;
  left: 10px;
  padding-bottom: 100px;
}

.title4 {
  color: white;
  font-size: 45px;
  padding-left: 250px;
  padding-top: 25px;;
}

.text123, .imgsal {
  margin-left: 130px;
}


.description {
  color: white;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 300px;
}

.smallSquare {
  height: 250px;
  width: 300px;
  margin: 10px;
  padding: 50px;
}

.smallSquare3 {
  height: 100%;
  width: 435px;
  background-color : #41316c;
  margin-right:5px;
  margin-left:5px;
  display:flex;
  justify-content: center
}

.smallSquare4{
  width: 50%;
}

.circle {
  margin-top: 10px;
  height : 120px;
  width: 120px;
  border-radius: 100%;
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/imgCircle.webp");
  background-size: 100%;
  margin-bottom: 20px;
}

.text2 {
  padding-top: 20px;
  color: white;
  padding-left: 10px;
}

.text3 {
  color: white;
  padding-top: 30px;
  padding-left: 20px;
}

.t {
  display: flex;
  padding-right:500px;
}

.text4 {
  color: white;
  padding-top: 100px;
}

.text5 {
  color: white;
  padding-left:150px;
}

.text6 {
  color: white;
  font-size: 20px;
}

.text7 {
  color: white;
  padding-top: 25px;
}

.navbar-centre-vertical {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  margin-right: 240px;
}

.logo {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/test.PNG");
  width : 60px;
  height : 50px;
  max-width : 120px;
  max-height : 80px;
  background-size: 100%;
}

.color2 {
    font-style: italic;
    background-image: conic-gradient(from 152deg at 50% 50%, #483778 0%, #8051FF 62.76%, #483778 100%);
    height: 130px;
}

.button {
  color: white;
  margin-left: 200px;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
}

.horizontalAlign {
  display: flex;
  justify-content: center;
}

.center {
  padding-top: 50px;
  padding-left: 5px;
}

.centerItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.text123 {
  color: white;
  font-size: 15px;
  padding-top: 100px;
  padding-left: 80px;
}