
* {
    box-sizing: border-box; 
}

body {
    min-height: 100vh;
    font-family: 'Botoro', sans-serif;
    background: #dcdcdc;
    color: white;
    background-image: url("C:/Users/steam/Documents/Projet Loic/image/imageLogin.webp");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;    
}

/* Tout les flex */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.square{
  height: 600px;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 33%;
  margin-top: 5%;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20px;
}

h5 {
  margin-top: 0px;
  text-decoration: underline;
}

.width {
  width: 80%;
}

.height {
  height: 90%;
}

form button, input{
  width: 70%;
  margin-left: 15%;
}

label {
  margin-left: 15%;
}

.marginLeft {
  padding-left: 15%;
}

.borderRadius {
  border-radius: 20px 20px 20px 20px;
}

.padding2 {
  padding-right: 5%;
}

.inputConnexion {
  margin-top:10%;
  margin-bottom:5%;
  background-color: #7e7ecc;
  border: 5px;
  color: white;
  height: 40px;
  font-size: 15px;
}

.inputConnexionGoogle {
  border: 5px;
  height: 45px;
}

::placeholder {
  font-weight: bold;
  color: #7a55f9;
  padding: 3%
}

.input2 {
  padding:5px;
  margin-top: 5px;
}

.cross {
  padding-left: 93%;
}

.marginTop {
  margin-top: 0px;
}