/* Déclaration initiale */

* {
    box-sizing: border-box; /* box-sizing est appliqué à tous les éléments */
}

body {
    font-family: 'Botoro', sans-serif;
}

/* Tout les flex */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bigSquare1 {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #231b3b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.smallSquare1 {
  position: absolute; 
  top: 100; 
  left: 50px;
  width: 47%;
  height: 300px;
  background-color: #483778;
  z-index: 2; 
}

.smallSquare2 {
  width: 60%;
  height: 400px;
  background-color: grey;
  top: 50; 
  right: 50px;
  z-index: 1;
  position: absolute;
}

.title {
  color: white;
  font-size: 35px;
  padding-top: 40px;
  padding-left: 80px;
}

.description {
  color: white;
  padding-left: 80px;
  padding-top: 40px;
  font-size: 15px;
}

.description2 {
  padding-top: 150px;
  padding-right: 230px;
  font-size: 20px;
  text-align: end;
}

.bigSquare2 {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #483778;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bigSquare3 {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #41316c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



