
* {
    box-sizing: border-box; 
}

body, header {
  font-family: 'Botoro', sans-serif;
}

/* Tous les flex */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 110%;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar-centre-vertical {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  margin-right: 240px;
}

.logo {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/test.PNG");
  width : 60px;
  height : 50px;
  max-width : 120px;
  max-height : 80px;
  background-size: 100%;
}

.color2 {
    font-style: italic;
    background-image: conic-gradient(from 152deg at 50% 50%, #483778 0%, #8051FF 62.76%, #483778 100%);
    height: 130px;
}

.button {
  color: white;
  margin-left: 200px;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
}

.bigSquare {
    height: 800px;
    background-color: #806b7c;
}

.bigSquare2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: auto;
  background-color: #221b3a;
}

video {
  height: 300px;
}

.video1, .video2 {
  display: flex;
  align-items: center;
}

.video1 .video-text {
  margin-right: 200px; 
  color: #ffffff;
}

.video2 .video-text {
  padding: 100px; 
  color: #ffffff;
}


.bigSquare3 {
    height: 900px;
}

.title {
    font-size:56px;
    font-family: "Trend Sans W00 Four";
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.custom-slider { display: none; }
.slide-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;        
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}
.prev{ 
    top:60%;
    left: 5%;
}

.next { 
    top:60%;
    right: 5%;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 220%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}

.prev2 {
  bottom:60%;
  left: 5%;
}

.next2 {
  bottom:60%;
  right: 5%;
}

.prev2:hover, .next2:hover {
  background-color: rgba(0,0,0,0.5);
}

.slide-text {
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  padding: 15px;
  bottom: 15px;
  left: 30px;
}

.slide-text2 {
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  padding: 15px;
  bottom: 15px;
  bottom: 190px;
  left: 30px;
}

.slide-img{ 
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    height: 500px;
    object-fit: cover;
}

.slide-img2{ 
   border-top-left-radius: 250px;
   border-top-right-radius: 250px;
   height: 500px;
   margin-left: 440px;
   object-fit: cover;
}

.imgSlider2 {
  width: 800px;
}

.slide-dot{ text-align: center;  margin-top: 1%; }
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

.image-container {
    position: relative; 
}

.smallSquareSlide {
    position: absolute; 
    top: 150px; 
    left: 330px; 
    width: 450px;
    height: 250px;
    z-index: 10; 
    background-color: #221b3a;
}

.smallSquareSlide2 {
    position: absolute; 
    top: 150px; 
    right: 330px; 
    width: 450px;
    height: 250px;
    z-index: 10; 
    background-color: #221b3a;
}

.paddingLeft1 {
  padding-left: 100px;
}

.squareSlide2 {
  height: 550px;
  width: 800px;
  background-color: white;
}

p {
  margin-top: 0px;
}

.paddingTop{
  padding-top: 5%
}

.paddingLeft2{
  padding-left: 5%;
}