/* Déclaration initiale */

* {
    box-sizing: border-box; /* box-sizing est appliqué à tous les éléments */
}

body {
    font-family: 'Botoro', sans-serif;
}

/* Tout les flex */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-centre-vertical {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  margin-right: 240px;
}

.logo {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/test.PNG");
  width : 60px;
  height : 50px;
  max-width : 120px;
  max-height : 80px;
  background-size: 100%;
}

.color2 {
  font-style: italic;
  background-image: conic-gradient(from 152deg at 50% 50%, #483778 0%, #8051FF 62.76%, #483778 100%);
  height: 130px;
}

.button {
  color: white;
  margin-left: 200px;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
}

.bigSquare {
  height: 900px;
  width: 100%;
  background-color: #231b3b;
  display: flex;
  justify-content: center;
  text-align: center;
}

.bigSquare2 {
  height: 600px;
  background-color: #41316c;
  display:flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.title {
  color:white;
  padding-bottom: 10px;
  font-size: 35px;
}

.title2 {
  color:white;
  padding-bottom:40px;
  padding-top:40px;
  font-size: 40px;
}

.title3 {
  color:white;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 35px;
}

.description1 {
  color: white;
  padding-top : 50px;
  font-style: italic;
}

.description2 {
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  font-style: italic;
}

.smallSquare {
  height : 350px;
  width: 200px;
  background-color : white;
  margin: 10px
}

.circle1 {
  margin-top: 10px;
  height : 200px;
  width: 200px;
  border-radius: 100%;
  background-color: grey;
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/quizzCircle1.webp");
  background-size: cover;
}

.circle2 {
  margin-top: 10px;
  height : 200px;
  width: 200px;
  border-radius: 100%;
  background-color: grey;
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/quizzCircle2.webp");
  background-size: cover;
}

.circle3 {
  margin-top: 10px;
  height : 200px;
  width: 200px;
  border-radius: 100%;
  background-color: grey;
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/quizzCircle3.webp");
  background-size: cover;
}

.text2 {
  padding-top: 20px;
  color: #41316c;
}

.text{
  padding-bottom: 30px;
}

.button1 {
  background-color:#41316c; 
  height: 40px;
  width: 120;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
}

.button1:hover {
  background-color: black;
  color: #262357;
}

.flexColumnCenter2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}