
/* Déclaration initiale */

* {
    box-sizing: border-box; /* box-sizing est appliqué à tous les éléments */
}

body {
    font-family: 'Botoro', sans-serif;
}

/* Tout les flex */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-centre-vertical {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  margin-right: 240px;
}

.logo {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/test.PNG");
  width : 60px;
  height : 50px;
  max-width : 120px;
  max-height : 80px;
  background-size: 100%;
}

.color2 {
  font-style: italic;
  background-image: conic-gradient(from 152deg at 50% 50%, #483778 0%, #8051FF 62.76%, #483778 100%);
  height: 130px;
}

.button {
color: white;
margin-left: 200px;
text-decoration: none;
font-style: normal;
font-size: 20px;
}

.bigSquare1 {
  height: 350px;
  width: 100%;
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/imgQuizz.webp");
  display: flex;
  justify-content: center;
  align-items: end;
}

.bigSquare2 {
  height: 460px;
  width: 100%;
  background: #231b3b;
}

.smallSquare1 {
  height: 300px;
  width: 60%;
  background: #231b3b;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 40px;
}

.title2 {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 45px;
  padding-BOTTOM: 30px;
  font-size: 25px;
}

.description {
  color: white;
  padding-left: 150px;
  padding-top: 40PX;
  font-size: 15px;  
}

.description2 {
  color: white;
  padding-left: 21%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15px;  
}

.color2 {
  color: white;
  font-size: 15px;
}

.button2{
  color: white;
  font-size: 15px;
  height: 50px;
}

.hrCustom {
  height: 1px;
  background-color: #ff7fe8; 
  border: none;
  margin-top: auto; 
  margin-top: 160px
}

.hrCustom2 {
  height: 1px;
  background-color: #6f658c; 
  border: none;
  width: 60%;
  margin-bottom: 30px;
  margin-top: 50px;
}

.buttonCustom {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonCustom1 {
  background-color: #231b3b; 
  color: #ff7fe8; 
  border: 1px solid #ff7fe8;
}


.buttonCustom1:hover{
  background-color: #ff7fe8; 
  color: black; 
}

.marginRight {
  margin-right: 52%;
}

.test {
  padding-bottom: 15px;
  color: white
}