/* Déclaration initiale */

* {
    box-sizing: border-box; /* box-sizing est appliqué à tous les éléments */
}

body {
    font-family: 'Botoro', sans-serif;
}

/* Tout les flex */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-centre-vertical {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    margin-right: 240px;
}

.logo {
    background-image: url("C:/Users/steam/Documents/Projet Loic/image/test.PNG");
    width : 60px;
    height : 50px;
    max-width : 120px;
    max-height : 80px;
    background-size: 100%;
}

.color2 {
    font-style: italic;
    background-image: conic-gradient(from 152deg at 50% 50%, #483778 0%, #8051FF 62.76%, #483778 100%);
    height: 130px;
}

.button {
    color: white;
    margin-left: 200px;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
}

.bigSquare1 {
  width: 100%;
  height: 700px;
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/fondReconversion.webp");
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top:95px;
}

.smallSquare {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 500px;
  height: 300px;
  background-color: #e3e4e7;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSmallSquare {
  transform: scale(1.3);
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/imgSmallSquare.webp");
  height: 200px;
  width: 40%;
  background-size: cover; 
  background-position: center;
}

.smallSquare2 {
  width: 600px;
  height: 270px;
  background-color: #6f658c;
  position: relative;
  top: 0;
  transition: top 0.3s ease, height 0.3s ease;
}

.textSmallSquare2bis {
  color: white;
  padding-left: 20px;
  font-weight: normal;
}

.textSmallSquare3 {
  color: white;
  padding-left: 40px;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.smallSquare2:hover {
  height: 320px;
  top: -50px; 
}

.smallSquare2:hover .textSmallSquare3 {
  padding-top: 40px;
  opacity: 1;
  visibility: visible; 
}

.bigSquare2 {
  width: 100%;
  height: 600px;
  background-color:#483778;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.intermediaireSquare {
  width: 93%;
  height: 520px;
  background-color: #231b3b;
  display: flex;
}

.textSmallSquare2 {
  color: white;
  padding-left: 20px;
}

.textSmallSquare2bis {
  color: white;
  padding-left: 40px;
  padding-top: 30px;
}

.imgBigSquare2 {
  background-color: #f4e2d3;
  width: 450px;
  height: 350px;
  margin: 70px;
  margin-right: 100px;
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/imgSmallSquare2.webp");
  background-size: cover; 
  background-position: center;
  padding-left: 10px;
}

.block1 {
  width:50%;
}

h1 {
  color: white;
  margin-left: 15%;
  padding-top: 30px;
}

.text {
  color: white;
  margin-left: 15%;
  padding-top: 150px;
}