
* {
    box-sizing: border-box; 
}

body, header {
  font-family: 'Botoro', sans-serif;
}

/* Tous les flex */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 110%;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.align-left {
  justify-content: flex-start;
}

.align-right {
  justify-content: flex-end;
}

.align-verticaly {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.navbar-centre-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 90%;
  height: 100%;
}

.textTop {
  font-family: Arial;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
}

.logo {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/test.PNG");
  width : 60px;
  height : 50px;
  max-width : 120px;
  max-height : 80px;
  background-size: 100%;
}

.color2 {
  font-style: italic;
  background-image: conic-gradient(from 152deg at 50% 50%, #483778 0%, #8051FF 62.76%, #483778 100%);
  height: 130px;
}

.button {
  border-radius: 20px; 
  color: white;
  background-color: #7b306b; 
  cursor: pointer;
  height: 40px;
  width: 100px;
  text-decoration: none;
  display: inline-block; 
  text-align: center; 
  line-height: 40px;
  margin-right: 30px;
  margin-left: 30px;
}

.imgCard1{ 
    background-image: url("C:/Users/steam/Documents/Projet Loic/image/imageTop.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
}

p {
    display: flex;
    padding-left: 10%;
    align-items: center;
}

.block1 {
    width: 50%;
    height: 400px;
    background-color: #000033;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.block2 {
    width: 50%;
    height: 400px;
    background-color: #E8DEF3;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBlock1 {
  font-size: 3.6rem;
  padding-left: 100px;
}

.textBlock2 {
  font-size: 1.3rem;
  padding-right: 18%;
  line-height: 35px;
}

.line {
  border-bottom: 1px solid white;
  margin-left: 100px;
  width: 220px;
}

.height {
    height: 60%;
}

.heigh2 {
  height: 220px;
}

.width {
  width: 50%;
}

.color {
   background-image: linear-gradient(to right, #6749CF , #B4A4EB);
   font-style: italic;
}

.paddingRightAndLeft {
  padding-right: 15%;
  padding-left: 15%;
}

.paddingRightAndLeft2 {
  padding-right: 8%;
  padding-left: 8%;
}

.paddingTopAndBottom {
  padding-top: 5%;
  padding-bottom: 5%;
}

.paddingTop {
   padding-top: 5%;
}

.paddingRight {
  padding-right: 5%;
}

.circle {
  padding-right: 10%;
  padding-left: 10%;
  border-radius: 50%;
  background-color: #9933FF;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10%;
  height: 250px;
  width: 250px;
}

.img1 {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/circle1.jpg");
  background-size: 105%;
}

.img2 {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/circle2.jpg");
  background-size: 105%;
}

.img3 {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/circle3.jpg");
  background-size: 105%;
}

.img4 {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/circle4.jpg");
  background-size: 105%;
}

.diagra1 {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/diagra1.jpg");
  background-size: 90%;
}

.diagra2 {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/diagra2.jpg");
  background-size: 100%;
}

.diagra3 {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/diagra3.jpg");
  background-size: 100%;
}

.diagra4 {
  background-image: url("C:/Users/steam/Documents/Projet Loic/image/diagra4.jpg");
  background-size: 100%;
}

.textAlignCenter {
  text-align: center
}

.imgStat {
  height: 130px;
  width: 50%;
  background-color: #9933FF;
  margin-left:80px;
  margin-right:10px;
}

.ContactBlock {
  background-color: #000033;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: top;
}

.widthText { 
  width: 100%;
}

.font {
  font-family: 'futura-lt-w01-light';
  font-size: 1.0rem;
  color: #7c79c1;
  margin-top: 30px;
}

.font2 {
  font-family: 'futura-lt-w05-light';
  font-size: 1.0rem;
  color: #7c79c1;
  margin-top: 10px;
}

.textSize {
  font-size: 3.5rem;  
}

.googleMap {
  margin-top: 3%;
  background-color: #7c79c1;
  height: 200px;
  width: 50%;
}
